<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AIHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AI_Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AIHelper.Properties.Settings>
            <setting name="AppResDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ModsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MODirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MOexePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OverwriteFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OverwriteFolderLink" serializeAs="String">
                <value />
            </setting>
            <setting name="SetupXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MOmode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationStartupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentGamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModOrganizerINIpath" serializeAs="String">
                <value />
            </setting>
            <setting name="Install2MODirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoShortcutRegistryCheckBoxChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MOmodeDataFilesBak" serializeAs="String">
                <value />
            </setting>
            <setting name="ModdedDataFilesListFile" serializeAs="String">
                <value />
            </setting>
            <setting name="VanillaDataFilesListFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MOToStandartConvertationOperationsListFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentGameEXEName" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentGameFolderName" serializeAs="String">
                <value />
            </setting>
            <setting name="StudioEXEName" serializeAs="String">
                <value />
            </setting>
            <setting name="INISettingsEXEName" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentGameListIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="INITDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BepinExCfgPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MOSelectedProfileDirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="XUAiniPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentGameDisplayingName" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentGameIsChanging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetModOrganizerINISettingsForTheGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtraSettingsInitOnLoadIsInAction" serializeAs="String">
                <value>False</value>
            </setting>
        </AIHelper.Properties.Settings>
        <AI_Helper.Properties.Settings>
            <setting name="AppResDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ModsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MODirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MOexePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OverwriteFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OverwriteFolderLink" serializeAs="String">
                <value />
            </setting>
            <setting name="SetupXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MOmode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationStartupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentGamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModOrganizerINIpath" serializeAs="String">
                <value />
            </setting>
            <setting name="Install2MODirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoShortcutRegistryCheckBoxChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MOmodeDataFilesBak" serializeAs="String">
                <value />
            </setting>
            <setting name="ModdedDataFilesListFile" serializeAs="String">
                <value />
            </setting>
            <setting name="VanillaDataFilesListFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MOToStandartConvertationOperationsListFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentGameEXEName" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentGameFolderName" serializeAs="String">
                <value />
            </setting>
            <setting name="StudioEXEName" serializeAs="String">
                <value />
            </setting>
            <setting name="INISettingsEXEName" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentGameListIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="INITDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BepinExCfgPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MOSelectedProfileDirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="XUAiniPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentGameDisplayingName" serializeAs="String">
                <value />
            </setting>
        </AI_Helper.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
