<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AI_Girl_Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AI_Girl_Helper.Properties.Settings>
            <setting name="AppResDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ModsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MODirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MOexePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OverwriteFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OverwriteFolderLink" serializeAs="String">
                <value />
            </setting>
            <setting name="SetupXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MOmode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationStartupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentGamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModOrganizerINIpath" serializeAs="String">
                <value />
            </setting>
            <setting name="Install2MODirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoShortcutRegistryCheckBoxChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MOmodeDataFilesBak" serializeAs="String">
                <value />
            </setting>
            <setting name="ModdedDataFilesListFile" serializeAs="String">
                <value />
            </setting>
            <setting name="VanillaDataFilesListFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MOToStandartConvertationOperationsListFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentGameEXEName" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentGameFolderName" serializeAs="String">
                <value />
            </setting>
            <setting name="StudioEXEName" serializeAs="String">
                <value />
            </setting>
            <setting name="INISettingsEXEName" serializeAs="String">
                <value />
            </setting>
        </AI_Girl_Helper.Properties.Settings>
    </userSettings>
</configuration>